// Code formatting.

.td-content {
	// Inline code
		@import "chroma";
	code.chroma {
	}
	
	article.member-function {
		border-top: 1px solid black;
		margin-bottom: 4rem;
		
		h3 {
			font-size: $h3-font-size;
			margin-bottom: 1rem;
		}
		h4 {
			font-size: $h5-font-size;
			margin-top: 1rem;
			margin-bottom: .5rem;
		}
		dl.parameters,
		section {
			margin-left: 1rem;
			margin-top: 0;
			margin-bottom: 0;
			
		}
		dl.parameters {
			dt,
			dd,
			h5 {
				margin: 0;
			display: inline;
			}
		}
	}
	
	dl {
		> dt {
			margin-top: 1rem;
		}
		> dd {
			margin-left: 1rem;
		}
	}
}
