{{- /* CONSTANTS */ -}}
{{- $FS_ROOT  := (slice "docs" "ref") }}

{{- /* PARAMETERS */ -}}
{{- $data      := . -}}
{{- $name      := .name -}}
{{- $namespace := .namespace -}}

{{- /* DERIVED */ -}}
{{- $fullname  := $namespace | append $name -}}

{{- /* LOCAL */ -}}

{{-
$data.result.type }} {{
$name }} ({{
with $data.parameters -}}{{-
  $n_params := len . -}}{{-
  $id := 0 -}}{{-
  range $name, $param := . -}}{{-
    $id = (add $id 1) -}}{{-
    $param.defined.type }} {{
    $name -}}{{-
    if lt $id $n_params}}, {{end -}}{{-
  end -}}{{-
end }}) {{
"" -}}
