{{ with . }}
<dl>
{{ range $name, $content := . }}
{{ range $content }}
{{ $param_types := slice }}{{ range $name, $param := .defined.parameters }}{{ $param_types = $param_types | append $param.defined.type }}{{ end }}
{{ $full_url := (delimit (slice .name | append $param_types) " ") | anchorize }}
<dt><a href="#{{ $full_url }}">{{ .name }} ({{ with $param_types }} {{ delimit . ", " }} {{end }})</a></dt>
<dd>{{ with .briefdescription }}{{ . | markdownify }}{{ end }} <a href="#{{ $full_url }}">More…</a></dd>
{{ end }}
{{ end }}
</dl>
{{ end }}
