{{- /* CONSTANTS */ -}}
{{- $FS_ROOT  := (slice "docs" "ref") }}

{{- /* PARAMETERS */ -}}
{{- $data      := . -}}
{{- $name      := .name -}}
{{- $namespace := .namespace -}}

{{- /* DERIVED */ -}}
{{- $fullname  := $namespace | append $name -}}

{{- /* LOCAL */ -}}


<article class="td-content member-function">

<h3 id="{{- partial "function_id" $data -}}"><code class="chroma language-C++" data-lang="C++">
<span class="result">{{- $data.result.type | partial "highlight" }}</span>
<span class="nf">{{- $name -}}</span> <span class="p">(</span>
{{
with $data.parameters -}}{{-
  $n_params := len . -}}{{-
  $id := 0 -}}{{-
  range $name, $param := . -}}{{-
    $id = (add $id 1) -}}<span class="parameter">{{-
    $param.type | partial "highlight" }} <span class="nv">{{
    $name -}}</span>{{-
    with $param.default_value }}
      <span class="p">=</span> <span class="l">{{ . }}</span>{{-
    end -}}
    </span>{{-
    if lt $id $n_params}}<span class="p">,</span> {{end -}}{{-
  end -}}{{-
end }} <span class="p">)</span> {{
"" -}}
</code></h3>

{{ if or $data.briefdescription  $data.detaileddescription }}
<h4>Description</h4>
<section class="description">
{{ with $data.briefdescription }}{{ . | markdownify }}{{ end }}
{{ with $data.detaileddescription }}{{ . | markdownify  }}{{ end }}
</section>
{{ end }}

{{ with $data.parameters }}
<h4>Parameters</h4>
<dl class="parameters">
{{ range $name, $param := . }}
<div class="parameter">
<dt class="chroma"><code class="language-C++" data-lang="C++"><var class="nv">{{ $name }}</var></code></dt>
<dd>{{ $param.briefdescription | markdownify }}{{ $param.detaileddescription | markdownify }}</dd>
</div>
{{ end }}
</dl>
{{ end }}

{{ with $data.result }}{{ if and .type (or .briefdescription .detaileddescription) }}
<h4 class="result">Result</h4>
<section class="result">
{{ with .briefdescription }}{{ . | markdownify }}{{ end }}
{{ with .detaileddescription }}{{ . | markdownify  }}{{ end }}
</section>
{{ end }}{{ end }}

</article>
