{{- /* CONSTANTS */ -}}
{{- $FS_ROOT  := (slice "docs" "ref") }}

{{- /* PARAMETERS */ -}}
{{- $data      := . -}}
{{- $name      := .name -}}
{{- $namespace := .namespace -}}

{{- /* DERIVED */ -}}
{{- $fullname  := $namespace | append $name -}}

{{- /* LOCAL */ -}}
{{- $param_types := slice }}{{ range $name, $param := $data.parameters }}{{ $param_types = $param_types | append $param.type -}}{{- end -}}
{{- $anchor := delimit (slice (anchorize $name) | append (apply $param_types "anchorize" ".") ) "~arg~"  -}}


{{- $anchor -}}
