{{- /* CONSTANTS */ -}}
{{- $FS_ROOT  := (slice "docs" "ref") }}

{{- /* PARAMETERS */ -}}
{{- $data      := . -}}
{{- $name      := .name -}}
{{- $namespace := .namespace -}}

{{- /* DERIVED */ -}}
{{- $fullname  := $namespace | append $name -}}

{{- /* LOCAL */ -}}


<article class="td-content member-function">

<h3 id="{{- partial "function_id" $data -}}"><code class="chroma language-C++" data-lang="C++">
{{- partial "function_syntax" (merge $data (dict "name" $data.name ) ) | partial "highlight" -}}
</code></h3>

{{ if or $data.briefdescription  $data.detaileddescription }}
<h4>Description</h4>
<section class="description">
{{ with $data.briefdescription }}{{ . | markdownify }}{{ end }}
{{ with $data.detaileddescription }}{{ . | markdownify  }}{{ end }}
</section>
{{ end }}

{{ with $data.parameters }}
<h4>Parameters</h4>
<dl class="parameters">
{{ range $name, $param := . }}
<dt class="chroma"><code class="language-C++" data-lang="C++"><var class="nv">{{ $name }}</var></code></dt>
<dd>{{ $param.briefdescription | markdownify }}{{ $param.detaileddescription | markdownify }}</dd>
{{ end }}
</dl>
{{ end }}

{{ with $data.result }}{{ if and .type (or .briefdescription .detaileddescription) }}
<h4 class="result">Result</h4>
<section class="result">
{{ with .briefdescription }}{{ . | markdownify }}{{ end }}
{{ with .detaileddescription }}{{ . | markdownify  }}{{ end }}
</section>
{{ end }}{{ end }}

</article>
