<h3 class="types-list">Types</h3>
<dl>
{{ partial "ns_types" . }}
</dl>

{{ with .defined.functions }}
<h3 class="functions-list">Functions</h3>
{{ partial "function_list" . }}
{{ end }}

{{ with .defined.variables }}
<h3 class="variables-list">Variables</h3>
{{ partial "variable_list" . }}
{{ end }}

{{ with .defined.functions }}
<h3 class="detailed-documentation">Detailed Documentation</h3>
{{ partial "function_detailed_list" . }}
{{ end }}

{{ $nsname := .name }}
{{ with .defined.namespaces }}
{{   range $snsname, $snscontent := . }}
{{     $fullname := printf "%s::%s" $nsname $snsname }}
<h2>namespace <tt>{{ $fullname }}</tt></h2>
{{     partial "ns_content" $snscontent  }}
{{   end }}
{{ end }}
