{{ $nsroot := .root }}
{{ $nspath := slice }}
{{ with .nspath }}{{ $nspath = . }}{{ end }}
{{ $nsname := (append $nsroot $nspath) }}

{{ with .defined.functions }}
{{   range $name, $content := . }}{{ range $content }}
{{     $fullname := (delimit (append $name $nsname )  "::" ) }}
{{     $param_types := slice }}{{ range $name, $param := .defined.parameters }}{{ $param_types = $param_types | append $param.defined.type }}{{ end }}
{{     $fullpath := (delimit (append (printf "#%s" (anchorize (delimit (slice .name | append $param_types) " " ) ) ) (apply (apply $nspath "lower" "." ) "replaceRE" "[^a-z0-9]" "_" "." ) ) "/" ) }}
<dt><a href="{{ $fullpath }}">
<code><span class="kt">{{ .defined.result.type }}</span> <span class="nf">{{ $fullname }}</span> (
{{- with .defined.parameters -}}
{{-   $n_params := len . -}}
{{-   $id := 0 -}}
{{-   range $name, $param := . -}}
{{-   $id = (add $id 1) -}}
{{- ""}} <span class="kt">{{ $param.defined.type }}</span>
{{-   if lt $id $n_params}}, {{end -}}
{{-   end -}}
{{- end -}}
{{- "" }} )</code></a></dt>
{{     if .briefdescription }}<dd>{{ .briefdescription | markdownify }}{{ if .detaileddescription }} <a href="{{ $fullpath }}">More…</a>{{ end }}</dd>{{ end }}
{{   end }}{{ end }}
{{ end }}

{{ with .defined.namespaces }}
{{   range $snsname, $snscontent := . }}
{{     partial "ns_functions" (dict "root" $nsroot "defined" $snscontent.defined "nspath" (append $snsname $nspath ) ) }}
{{   end }}
{{ end }}

