{{ $nsroot := .root }}
{{ $nspath := slice }}
{{ with .nspath }}{{ $nspath = . }}{{ end }}
{{ $nsname := (append $nsroot $nspath) }}

{{ with .defined.types }}
{{   range $name, $content := . }}
{{     $fullname := (delimit (append $name $nsname)  "::") }}
{{     $fullpath := (delimit (apply (apply (append $name $nspath ) "lower" "." ) "replaceRE" "[^a-z0-9]" "_" "." ) "/" ) }}
<dt>
{{     if in (slice "class" "struct") $content.defined.kind }}
<a href="{{ $fullpath }}">
{{     end }}
<code>{{ $content.defined.kind }} {{ $fullname }}</code>
{{     if in (slice "class" "struct") $content.defined.kind }}
</a>
{{     end }}
</dt>
{{     with $content.briefdescription | markdownify }}<dd>{{ . }}</dd>{{ end }}
{{   end }}
{{ end }}

{{ with .defined.namespaces }}
{{   range $snsname, $snscontent := . }}
{{     partial "ns_types" (dict "root" $nsroot "defined" $snscontent.defined "nspath" (append $snsname $nspath)) }}
{{   end }}
{{ end }}
