{{ if .Scratch.Get "selftoc" }}

{{- /* CONSTANTS */ -}}
{{- $FS_ROOT  := (slice "docs" "ref") }}

{{- /* PARAMETERS */ -}}
{{- $data      := . -}}
{{- $name      := .name -}}
{{- $namespace := .namespace -}}

{{- /* DERIVED */ -}}
{{- $fullname  := $namespace | append $name -}}

{{- /* LOCAL */ -}}


{{ partial "page-meta-links.html" . }}
{{ if not .Params.notoc }}

<div id="TableOfContents"><ul>

{{   with .types }}
<li><a href="#member-types-list">Member Types</a><li>
{{   end }}

{{   with .functions }}
<li><a href="#member-functions-list">Member Functions</a><li>
{{   end }}

{{   with .variables }}{{ with where . "visibility" "public" }}
<li><a href="#member-variables-list">Member Variables</a><li>
{{   end }}{{ end }}

<li><a href="#detailed-documentation">Detailed Documentation</a><li>
<ul>
{{   range $name, $content := .functions }}{{ range where $content "visibility" "public" }}
{{     $param_types := slice }}{{ range $name, $param := .defined.parameters }}{{ $param_types = $param_types | append $param.defined.type }}{{ end }}
{{ $full_url := (delimit (slice .name | append $param_types) " ") | anchorize }}
<li><a href="#{{$full_url}}">{{.name }}</a><li>
{{   end }}{{ end }}
</ul>

</li></div>
{{ end }}


{{- else -}}

{{ partial "page-meta-links.html" . }}
{{ if not .Params.notoc }}
{{ with .TableOfContents }}
{{ if ge (len .) 200 }}
{{ . }}
{{ end }}
{{ end }}
{{ end }}

{{- end -}}
