{{ partial "page-meta-links.html" . }}
{{ if not .Params.notoc }}

{{ $ns_data := $.Site.Data.docs.doxdata }}
{{ with .Page.Params.doc_path }}
{{   range ($ns := (split . ".")) }}
{{     if and (isset $ns_data "namespaces") (isset (index $ns_data "namespaces") .) }}
{{       $ns_data = (index $ns_data "namespaces" .) }}
{{       $ns_data = (index $ns_data "defined") }}
{{     else if and (isset $ns_data "types") (isset (index $ns_data "types") .) }}
{{       $ns_data = (index $ns_data "types" .) }}
{{       $ns_data = (index $ns_data "defined") }}
{{     end }}
{{   end }}
{{ end }}

{{ with $ns_data }}
<div id="TableOfContents"><ul>

{{ with .types }}
<li><a href="#member-types-list">Member Types</a><li>
{{ end }}

{{ with .functions }}
<li><a href="#member-functions-list">Member Functions</a><li>
{{ end }}

{{ with .variables }}{{ with where . "visibility" "public" }}
<li><a href="#member-variables-list">Member Variables</a><li>
{{ end }}{{ end }}

<li><a href="#detailed-documentation">Detailed Documentation</a><li>
<ul>
{{ range $name, $content := .functions }}{{ range where $content "visibility" "public" }}
{{ $param_types := slice }}{{ range $name, $param := .defined.parameters }}{{ $param_types = $param_types | append $param.defined.type }}{{ end }}
{{ $full_url := (delimit (slice .name | append $param_types) " ") | anchorize }}
<li><a href="#{{$full_url}}">{{.name }}</a><li>
{{ end }}{{ end }}
</ul>

</li></div>
{{ end }}

{{ end }}
