{{- /* CONSTANTS */ -}}
{{- $FS_ROOT  := (slice "docs" "ref") }}

{{- /* PARAMETERS */ -}}
{{- $data      := . -}}
{{- $name      := .name -}}
{{- $namespace := .namespace -}}

{{- /* DERIVED */ -}}
{{- $fullname  := $namespace | append $name -}}

{{- /* LOCAL */ -}}


{{- if in (slice "class" "struct") $data.kind -}}
{{- $fullpath := (delimit (append (apply $fullname "replaceRE" "[^a-zA-Z0-9_]" "_" "." ) (slice "docs" "ref") ) "/" ) -}}
<a href="{{ ref site.Home $fullpath }}">
{{- end -}}

<code class="chroma language-C++" data-lang="C++">
{{- partial "highlight" (printf "%s %s" $data.kind $name ) -}}
</code>

{{- if in (slice "class" "struct") $data.kind -}}
</a>
{{- end -}}
