{{- /* CONSTANTS */ -}}
{{- $FS_ROOT  := (slice "docs" "ref") }}

{{- /* PARAMETERS */ -}}
{{- $def       := . -}}
{{- $name      := $def.name -}}
{{- $data      := $def.defined -}}
{{- $namespace := $def.namespace -}}

{{- /* DERIVED */ -}}
{{- $fullname  := $namespace | append $name -}}

{{- /* LOCAL */ -}}
{{ $has_public_functions := false }}
{{ range $name, $content := $data.functions }}
{{   range where $content "visibility" "public" }}
{{     $has_public_functions = true }}
{{   end }}
{{ end }}
{{ $has_public_variables := false }}
{{ range $name, $content := $data.variables }}
{{   if eq $content.visibility "public" }}
{{     $has_public_variables = true }}
{{   end }}
{{ end }}

{{ with $fullname }}
<h1><code class="chroma language-C++" data-lang="C++">
{{- partial "highlight" (printf "%s %s" $data.kind (delimit $fullname "::") ) -}}
</code> reference</h1>
{{ else }}
<h1>C++ API reference</h1>
{{ end }}



{{- if or $def.briefdescription $def.detaileddescription -}}
<h2 id="description">Description</h2>
{{ with $def.briefdescription }}{{ . | markdownify }}{{ end -}}
{{- with $def.detaileddescription }} {{ . | markdownify  }}{{ end }}
{{ end }}



{{- if or
         $data.types
         $data.functions
         $data.variables
         -}}
<h2 id="content-list">Content</h2>
{{- end -}}

{{ with $data.types }}
<h3 id="member-types-list">Member Types</h3>
<dl>
{{   range $name, $content := . }}
<dt>{{ partial "type" ($content | merge (dict "namespace" $fullname ) ) }}</dt>
{{     with $content.briefdescription | markdownify }}<dd>{{ . }}</dd>{{ end }}
{{   end }}
</dl>
{{ end }}

{{ if $has_public_variables }}
<h3 id="member-variables-list">Member Variables</h3>
<dl>
{{   range $name, $content := $data.variables }}{{ if eq $content.visibility "public" }}
<dt>{{ partial "variable" ($content | merge (dict "namespace" $fullname) ) }}</dt>
{{     with $content.briefdescription | markdownify }}<dd>{{ . }}</dd>{{ end }}
{{   end }}{{ end }}
</dl>
{{ end }}

{{ if $has_public_functions }}
<h3 id="member-functions-list">Member Functions</h3>
<dl>
{{   range $name, $content := $data.functions }}{{ range where $content "visibility" "public" }}
<dt>{{ partial "function" (. | merge (dict "namespace" $fullname ) ) }}</dt>
{{     with .briefdescription | markdownify }}<dd>{{ . }}</dd>{{ end }}
{{   end }}{{ end }}
</dl>
{{ end }}



{{- if 
         $has_public_functions
         -}}
<h2 id="detailed-documentation">Documentation</h2>
{{- end -}}

{{ if $has_public_functions }}
<h3 id="member-functions-doc">Member Functions</h2>
{{   range $name, $content := $data.functions }}{{ range where $content "visibility" "public" }}
{{     partial "function_desc" (. | merge (dict "namespace" $fullname ) ) }}
{{   end }}{{ end }}
{{ end }}

