{{- /* CONSTANTS */ -}}
{{- $FS_ROOT  := (slice "docs" "ref") }}

{{- /* PARAMETERS */ -}}
{{- $fullname  := split (.Get 0) "." -}}
{{- $namespace := $fullname | first (add (len $fullname) -1) -}}
{{- $name      := (index (last 1 $fullname) 0) -}}

{{- /* DERIVED */ -}}
{{- $data := site.Data.docs.doxdata -}}
{{- $def  := dict -}}
{{- range $fullname -}}
{{-   if isset $data.namespaces . -}}
{{-     $def  = (index $data.namespaces . ) -}}
{{-   else if isset $data.types . -}}
{{-     $def  = (index $data.types . ) -}}
{{-   else -}}
{{-     errorf "Unable to find namespace %s at %s" $fullname . -}}
{{-   end -}}
{{-   $data = $def.defined -}}
{{- end -}}

{{- /* LOCAL */ -}}


{{ partial "type_desc" ($def | merge (dict "namespace" $namespace ) ) }}
