{{- /* CONSTANTS */ -}}
{{- $FS_ROOT  := (slice "docs" "ref") }}

{{- /* PARAMETERS */ -}}
{{- $fullname  := slice }}{{ with .Get 0 }}{{ $fullname = split . "." }}{{ end -}}
{{- $namespace := $fullname -}}
{{- $name      := "" -}}

{{- /* DERIVED */ -}}
{{- $data := site.Data.docs.doxdata -}}
{{- $def  := dict -}}
{{- range $fullname -}}
{{-   if isset $data.namespaces . -}}
{{-     $def  = (index $data.namespaces . ) -}}
{{-   else -}}
{{-     errorf "Unable to find namespace %s (%d) at `%s'" $fullname (len $fullname) . -}}
{{-   end -}}
{{-   $data = $def.defined -}}
{{- end -}}

{{- /* LOCAL */ -}}


{{ partial "namespace_desc" (dict "defined" $data "namespace" $fullname ) }}
